* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#sitio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 50px;
}
section {
    margin-top: 100px;
    text-align: center;
}
.caja1, .caja2{
    display: inline-block;
    width: 1700px;
    height: 200px;
    background-color: blueviolet;
    margin: 20px 0px;
    text-align: center;
}

.caja2 {
    background-color: aqua;
}

.darkMode {
    background-color: black;
    color: white;
}
#caja3 {
    background-color: hotpink;
}

.oculto {
    visibility: hidden;
}
button {
    padding: 25px 50px;
    margin: 20px 0px;
    border-radius: 15px;
    border-style: none;
}
.botonCambio {
    background-color: red;
    color: white;
}
