*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(234, 204, 234, 0.5);
}
.main_container {
    text-align: center;
    width: 100%;
}
.main_container>h1 {
    margin: 50px 0 70px 0;
    font-size: 60px;
}
.section_container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px; /* Los elementos se ajustan a un tamaño base de 100px */
    margin: auto;
    justify-content: space-between;
}
.article_container{
    width: 22%;
    margin: 1%;
    text-align: center;
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.article_container>h3 {
    margin: 15px 0;
    font-size: 1.8rem;
}
.article_container>img {
    width: 98%;
    border: 7px solid rgb(42, 42, 42);
}
.article_container>p {
    text-align: left;
    margin: 7px 0 0 2px;
    font-size: 1.2rem;
    color: rgb(79, 79, 79);
}
.article_container>p>span{
    font-size: 1rem;
    color: black;
}

